<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>My Bart</title>
</head>
<body>
  <h1>My Bart</h1>
  <h3>Station: <%= station.name %></h3>

  <% for (let i = 0; i < station.etd.length; i++) { %>
    <h4><%= station.etd[i].destination %></h4>
    <ul>
      <% for (let j = 0; j < station.etd[i].estimate.length; j++) { %>
        <li>
          <em style="background-color: <%=station.etd[i].estimate[j].hexcolor%>"><%= station.etd[i].estimate[j].direction%></em>, 
          <%= station.etd[i].estimate[j].minutes%> minutes
          </li>
      <% } %>
    </ul>
  <% } %>
</body>
</html>